@font-face {
  font-family: ParamoreAlbum;
  src: url("./fonts/ParamoreAlbum.ttf");
}

.display-font {
  font-family: "ParamoreAlbum", sans-serif;
}

.navbar-brand {
  font-size: 2rem;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}

.hero {
  background-image: url("./images/Paramore-live-Kerrang-credit-Lindsey-Byrnes.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}
.hero > span {
  font-size: 8rem;
}
.tour-card {
  width: 85%;
}
@media only screen and (max-width: 768px) {
  .hero > span {
    font-size: 6rem;
  }
}
